<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.chuangke.user.dao.IUserDao">
	
	<resultMap id="BaseResultMap" type="com.cn.uuu.pojo.User" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="username" property="username" jdbcType="VARCHAR" />
	    <result column="password" property="password" jdbcType="VARCHAR" />
  	</resultMap>
	
  <select id="getByUsername" parameterType="string" resultType="User">
    SELECT * from t_user t where t.username = #{username} 
  </select>

  <update id="updateAccount" parameterType="Account">
    UPDATE ACCOUNT SET
      EMAIL = #{email},
      FIRSTNAME = #{firstName},
      LASTNAME = #{lastName},
      STATUS = #{status},
      ADDR1 = #{address1},
      ADDR2 = #{address2,jdbcType=VARCHAR},
      CITY = #{city},
      STATE = #{state},
      ZIP = #{zip},
      COUNTRY = #{country},
      PHONE = #{phone}
    WHERE USERID = #{username}
  </update>

  <insert id="insertAccount" parameterType="Account">
    INSERT INTO ACCOUNT
      (EMAIL, FIRSTNAME, LASTNAME, STATUS, ADDR1, ADDR2, CITY, STATE, ZIP, COUNTRY, PHONE, USERID)
    VALUES
      (#{email}, #{firstName}, #{lastName}, #{status}, #{address1},  #{address2,jdbcType=VARCHAR}, #{city}, #{state}, #{zip}, #{country}, #{phone}, #{username})
  </insert>

  <!--  
  TODO MyBatis 3 does not map booleans to integers
  <update id="updateProfile" parameterType="Account">
    UPDATE PROFILE SET
      LANGPREF = #{languagePreference},
      FAVCATEGORY = #{favouriteCategoryId},
      MYLISTOPT = #{listOption},
      BANNEROPT = #{bannerOption}
    WHERE USERID = #{username}
  </update>
  -->

  <update id="updateProfile" parameterType="Account">
    UPDATE PROFILE SET
      LANGPREF = #{languagePreference},
      FAVCATEGORY = #{favouriteCategoryId}
    WHERE USERID = #{username}
  </update>

  <!--  
  TODO MyBatis 3 does not map booleans to integers
  <insert id="insertProfile" parameterType="Account">
    INSERT INTO PROFILE (LANGPREF, FAVCATEGORY, MYLISTOPT, BANNEROPT, USERID)
    VALUES (#{languagePreference}, #{favouriteCategoryId}, #{listOption}, #{bannerOption}, #{username})
  </insert>
  -->

  <insert id="insertProfile" parameterType="Account">
    INSERT INTO PROFILE (LANGPREF, FAVCATEGORY, USERID)
    VALUES (#{languagePreference}, #{favouriteCategoryId}, #{username})
  </insert>

  <update id="updateSignon" parameterType="Account">
    UPDATE SIGNON SET PASSWORD = #{password}
    WHERE USERNAME = #{username}
  </update>

  <insert id="insertSignon" parameterType="Account">
    INSERT INTO SIGNON (PASSWORD,USERNAME)
    VALUES (#{password}, #{username})
  </insert>

</mapper>